@model Barkodai.ViewModels.ItemDescriptionVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Item Description";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var rating = new Barkodai.Models.Rating();
} 
<div class="jumbotron">
    <div style="display:flex; flex-direction:row">
        <div style="flex-grow: 1;">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2>@Model.item.title</h2>
                    <p>Starting from: @Model.item.min_price &euro;</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Average rating(out of @Model.item.averageRating.ratingCount):</h5>
                    <p class="card-text">Use - @Model.item.averageRating.use/5</p>
                    <p class="card-text">Price - @Model.item.averageRating.price/5</p>
                    <p class="card-text">Quality - @Model.item.averageRating.quality/5</p>
                </div>
            </div>
        </div>
        <div style="flex-grow: 1; margin:0 1rem 0 1rem">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2>Rate</h2>
                    @if (Model.userRating == null)
                    {
                        <span>(Not rated yet)</span>
                    }
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Rate", "Information", FormMethod.Post))
                    {
                        <div style="display: flex; flex-direction: row">
                            <label>Use</label>&nbsp;&nbsp;
                            <input class="custom-range" type="range" min="0" max="5" step="1" name="use" value="@(Model.userRating?.use ?? 0)" />
                        </div>
                        <div style="display: flex; flex-direction: row">
                            <label>Price</label>&nbsp;&nbsp;
                            <input class="custom-range" type="range" min="0" max="5" step="1" name="price" value="@(Model.userRating?.price ?? 0)" />
                        </div>
                        <div style="display: flex; flex-direction: row">
                            <label>Quality</label>&nbsp;&nbsp;
                            <input class="custom-range" type="range" min="0" max="5" step="1" name="quality" value="@(Model.userRating?.quality ?? 0)" />
                        </div>
                        <input hidden name="item_id" value="@Model.item.id" />
                        <input hidden name="user_id" value="@Model.userId" />
                        <button type="submit" class="btn btn-primary">Rate</button>
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <img src="@Model.item.image_address" width="400" />
        </div>
    </div>
    <div style="margin-top: 2rem">
        <div class="card">
            <a class="card-header btn" asp-controller="Information" asp-action="ListShops" asp-route-id="@Model.item.id" asp-route-show="@(!Model.showShops)">
                @if (Model.showShops)
                {
                    <span>⯆ Shops</span>
                }
                else
                {
                    <span>⯈ Shops</span>
                }
            </a>
            @if (Model.showShops)
            {
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (Barkodai.Models.ShopItem shopItem in @Model.item.shop_items)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @shopItem.shop.name - @shopItem.price
                                <span class="badge badge-primary"><img src="@shopItem.shop.getLogo()" style="height: 3rem;" /></span>
                            </li>

                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>