@model Barkodai.ViewModels.BlockListVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Block List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h3>Blocked items</h3>

    <table class="table table-hover text-center">
        <tbody>
            @foreach (var item in Model.blockList.items)
            {
                <tr>
                    <td><img src="@item.image_adress" height="60" /></td>
                    <td class="align-middle" style="font-size:1.8rem">@item.title</td>
                    <td class="align-middle" style="font-size:1.8rem">@item.category</td>
                    <td class="align-middle" ><a asp-controller="Block" asp-action="RemoveItem" asp-route-id="@item.id" class="btn btn-danger">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="jumbotron">
    <h1>Add items to your block list</h1>
    @if (Model.items == null)
    {
        <a class="btn btn-primary" asp-area="" asp-controller="Block" asp-action="ListItems">Show Item list</a>
    }
    else
    {
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">
                        <form method="get" asp-action="Filter" asp-controller="Block">
                            <select id="filter_categories" name="filter_categories" class="selectpicker" multiple data-live-search="true">
                                @foreach (var category in Model.items.Select(i => i.category.ToLower()).Union(Model.hiddenCategories).Distinct())
                                {
                                    @if (Model.hiddenCategories.Contains(category))
                                    {
                                        <option value="@category.ToLower()">@category</option>
                                    }
                                    else
                                    {
                                        <option value="@category.ToLower()" selected>@category</option>
                                    }
                                }
                            </select>
                        </form>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.items.Where(i => !Model.blockList.items.Any(bi => bi.id == i.id)).Where(i => !Model.hiddenCategories.Contains(i.category.ToLower())))
                {
                    <tr>
                        <td><img src="@item.image_adress" height="60" /></td>
                        <td class="align-middle" style="font-size:1.8rem">@item.title</td>
                        <td class="align-middle" style="font-size:1.8rem">@item.category</td>
                        <td class="align-middle"><a asp-controller="Block" asp-action="AddItem" asp-route-id="@item.id" class="btn btn-success">Add</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts {
    <script>
        $('select').selectpicker();
        $('#filter_categories').change(function () {
            this.form.submit();
        });
    </script>
}